body {
    background-image: url("../imagenes/shelf-bg.jpg");
}
.container {
    background-color: white;
}
#jumbotron {
    background: url("../imagenes/header-01.jpg") no-repeat;
}
#separador {
    min-height: 5px;
    background-color: #076599;
}
#descripcion {
    color: #6c6c6c;
    padding-top: 3rem;
}
#galeria p {
    text-align:center;
}